  {{#each model.assigns as |assign|}}
    {{#forms/assign-data data=assign as |data|}}
      <button {{action 'submitRecord' data}}> Submit </button>
      <button {{action 'deleteRecord' data}}> Delete </button>
    {{/forms/assign-data}}
  {{/each}}

  {{#each model.permissions as |permission|}}
    {{#forms/permission-data data=permission as |data|}}
      <button {{action 'submitRecord' data}}> Submit </button>
      <button {{action 'deleteRecord' data}}> Delete </button>
    {{/forms/permission-data}}
  {{/each}}

  {{#each model.coursePrefixes as |prefix|}}
    {{#forms/course-prefix-data data=prefix as |data|}}
      <button {{action 'submitRecord' data}}> Submit </button>
      <button {{action 'deleteRecord' data}}> Delete </button>
    {{/forms/course-prefix-data}}
  {{/each}}

  {{#each model.jobTitles as |jobTitle|}}
    {{#forms/job-title-data data=jobTitle as |data|}}
      <button {{action 'submitRecord' data}}> Submit </button>
      <button {{action 'deleteRecord' data}}> Delete </button>
    {{/forms/job-title-data}}
  {{/each}}

  {{#each model.metrics as |metric|}}
    {{#forms/metric-data data=metric as |data|}}
      <button {{action 'submitRecord' data}}> Submit </button>
      <button {{action 'deleteRecord' data}}> Delete </button>
    {{/forms/metric-data}}
  {{/each}}
{{outlet}}