{{#lf-form rules=rules as |validateFunction|}}

  <div>
    Program:
    {{one-way-select
      data.programId
      options=programList
      optionValuePath="id"
      optionLabelPath="name"
      disabled= true
      update=(action (mut data.programId))
    }}
  </div>

  <div>
    Semester:
    {{one-way-select
      data.semesterId
      options=semesterList
      disabled= true
      optionValuePath="id"
      optionLabelPath="year"
      update=(action (mut data.semesterId))
    }}
  </div>

  {{lf-input

    label="start"
    property=data.start
    name="Start Date: "
    validate=validateFunction
    on-update=(action (mut data.start))
  }}

  {{lf-input
    name="end"
    label="End Date: "
    property=data.end
    validate=validateFunction
    on-update=(action (mut data.end))
  }}


{{/lf-form}}


{{yield data}}
